@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
  --font-family: 'Quicksand', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #7BE495 1.84%, #329D9C 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #7BE495 -13.86%, #329D9C 99.55%);

  --color-dark: #042c54;
  --color-bg: #205072;
  --color-primary : #329D9C;
  --color-primary-lg: #43cccb;
  --color-secondary: #56C596;
  --color-complimentary: #7BE495;
  --color-text: #fafefc;
}
